{% load static %}

<!doctype html>
<html>
  <head>
    <title>Make it Stick - Blogs</title>
    <link rel="stylesheet" href="{% static "blogs.css" %}">
  </head>
  <body>
    <header>
        <div>My Blog Posts</div>
        <nav>
            <a href="{% url "posts_list" %}">Back to list</a>
        </nav>
    </header>
    <main>
        <div class="blog-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <button>Submit</button>
                </div>
            </form>
        </div>

    </main>
    <footer>
        <div>
            Copyright 2022 By GTech
        </div>
        <p>
            This is my site that contains
            all my book reviews.
        </p>
    </footer>
  </body>
</html>