{% load static %}

<!doctype html>
<html>
  <head>
    <title>Make it Stick - Blogs</title>
    <link rel="stylesheet" href="{% static "blogs.css" %}">
  </head>
  <body>
    <header>
        <div>My Blog Posts</div>
        <nav>
            <a href="{% url "posts_list" %}">Back to list</a>
            <a href='{% url "create_post" %}'>Create a post</a>
        </nav>
    </header>
    <main>
        <div class="detail-post">
            <img class="blog-cover" src="{{ post.cover_image }}">
            <h2>
                <a href="detail.html">{{ post.title }}</a>
            </h2>
            <div class="post-rating">{{ post.rating }} Stars</div>
            <div class="post-authors">
              {{ review.authors }}
            </div>
            <h3>Summary</h3>
            <p>
              {{ review.summary }}
            </p>
            <h2>My review</h2>
            <p>
              {{ review.review }}
            </p>
        </div>
    </main>
    <footer>
        <div>
            Copyright 2022 By GTech
        </div>
        <p>
            This is my site that contains
            all my book reviews.
        </p>
    </footer>
  </body>
</html>