{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Blogs</title>
    <link rel="stylesheet" href='{% static "blogs.css" %}'>
</head>

<body>
    <header>
        <div>My Blog Posts</div>
        <nav>
            <a href='{% url "create_post" %}'>Create a post</a>
        </nav>
    </header>
    <main>
        {% for post in posts %}
            <div class="main-page-blog">
                <img class="blog-cover"
                    src={{ post.cover_image }}>
                <h2>
                    <a href="{% url "post_detail" post.id %}">{{ post.title }}</a>
                </h2>
                <div class="post-rating">{{ post.rating }} Stars</div>
                <div class="post-authors">{{ post.authors }}</div>
                <h3>Summary</h3>
                <p>{{ post.summary }}
                </p>
            </div>
        {% endfor %}
        <!-- second book block -->

    </main>
    <footer>
        <div>
            Copyright 2022 By GTech
        </div>
        <p>
            This is my site that contains
            all my book reviews.
        </p>
    </footer>
</body>

</html>