html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    background-color: burlywood;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center;
}

body {
    margin: 0;
}

header {
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}

.blog-cover {
    height: auto;
    width: 200px;
    display: grid;
    grid-row: span 5;
    column-gap: 24px;
}

.main-page-blog {
    background-color: white;
    padding: 24px;
    border: 1px solid lightblue;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}

main {
    margin: auto;
    max-width: 800px;
}

.post-rating {
    font-size: 125%;
}

.post-authors {
    color: dimgray;
}

.detail-page-post-review {
    background-color: white;
    padding: 24px;
  }

.blog-form {
    background-color: white;
    padding: 24px;
}
